@use "variables" as *;
@use "breakpoints" as *;
html {
  font-size: 100%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 500;
  font-size: $bodyFontSize;
  line-height: 1.4;
  background-color: $lightGrayishBlue;
}

#container {
  margin: 4.5rem 1.5rem;
  display: grid;
  gap: 1.5rem;

  @include breakpoint-up(large) {
    grid-template-columns: repeat(4, 1fr);
    max-width: 80%;
    height: 100vh;
    justify-content: center;
    align-content: center;
    margin: auto;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin: 10px 0;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
