@use "variables" as *;
@use "functions" as *;
@use "globals";

%box-shared {
  border-radius: 0.625rem;
  border: none;
  padding: 1.5rem 2rem;
  box-shadow: 20px 20px 20px -20px $lightGray;
}

.box {
  &-voilet {
    @extend %box-shared;
    background: $moderateVoilet url("../images/bg-pattern-quotation.svg")
      no-repeat 90% 0%;
    color: set-text-color($moderateVoilet);
  }
  &-gray {
    @extend %box-shared;
    background-color: $veryDarkGrayishBlue;
    color: set-text-color($veryDarkGrayishBlue);
  }
  &-white {
    @extend %box-shared;
    background-color: $white;
    color: set-text-color($white);
  }
  &-black {
    @extend %box-shared;
    background-color: $veryDarkBlakishBlue;
    color: set-text-color($veryDarkBlakishBlue);
  }
}

.user-data {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0.625rem;
  img {
    width: 2rem;
    border-radius: 50%;
    border: 2px solid $lightGray;
  }
  .user-info {
    padding: 0 1rem;
    h3 {
      font-size: $bodyFontSize;
      font-weight: 600;
    }

    span {
      font-size: 0.72rem;
      opacity: 50%;
    }
  }
}

.testimonial-title {
  font-size: 1.259rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.testimonial-text {
  opacity: 70%;
  margin-bottom: 10px;
}
